.goal-list {
    list-style: none;
    margin: 2rem;
    padding: 0;
}

.goal-list li{
    padding: 1rem;
    border: 1px solid black;
    margin: 2rem;
}

.goals-header {
    display: flex;
    justify-content: center;
}

.New-Goal {
    margin: 2rem;
    text-align: center;
}